{{define "table"}}

{{- range .TimetableTypeData }}

{{ if .CSSTop }}
<style>
{{.CSSTop}}
</style>
{{ end }}

{{ if .HTMLTop }}
        <p class="contentTOP">{{.HTMLTop}}</p>
{{ end }}

<table class="{{ .TimetableType }}">
    <tbody>
                {{- range .Data }}
                    <tr>
                    <td><h4>{{ .I18nDate "datetime_from" }} &mdash; {{ .I18nDate "datetime_to" }}</h4></td>
                    </tr>
                    <tr>
                        <td>{{ .Edges.Address.Edges.Business.Name1 }}</td>
                    </tr>

                    <tr>
                        <td>{{ .Edges.Address.Street }}</td>
                    </tr>
                    <tr>
                        <td>{{ .Edges.Address.Zip }}&thinsp;{{ .Edges.Address.City }}</td>
                    </tr>
                    {{ if .AvailabilityByPhone }}
                    <tr>
                        <td><a href="tel:{{ .AvailabilityByPhone }}">{{ convertTel .AvailabilityByPhone }}</a></td>
                    </tr>
                    {{ end }}
                    {{ if (ne .AvailabilityByPhone .Edges.Address.Telephone) }}
                    <tr>
                        <td><a href="tel:{{ .Edges.Address.Telephone }}">{{ convertTel .Edges.Address.Telephone }}</a></td>
                    </tr>
                    {{ if .Edges.Address.Edges.Business.Website }}
                    <tr>
                        <td><a href="{{ .Edges.Address.Edges.Business.Website }}">{{ convertWebsite .Edges.Address.Edges.Business.Website }}</a></td>
                    </tr>
                    {{ end }}
                    <tr>
                        <td class="post-meta">Stand: {{ .UpdatedAt.Format "01.02.2006 15:04" }}</td>
                    </tr>
                    {{end}}
                {{- end }}

    </tbody>
</table>

{{ if .CSSBottom }}
<style>
{{.CSSBottom}}
</style>
{{ end }}

{{ if .HTMLBottom }}
<p class="contentBOTTOM">{{.HTMLBottom}}</p>
{{ end }}

{{- end }}
{{end}}